__pycache__/
sentence-completion/
07_fine_tunning/ner/
07_fine_tunning/julie-bert-base-uncased-bookclassifier
.ipynb_checkpoints/
datasets/
data/
*.csv
*.pt
*.pth
04_word_embeddings/GoogleNews-vectors-negative300/
*.bin
.ipynb_checkpoints/
__pycache__/